---
import MainAnimation from "@/components/home/MainAnimation.astro";
import Layout from "../layouts/Layout.astro";

import cars from "@/assets/cars.png";
import team from "@/assets/rettore.png";
import unipa from "@/assets/unipa.png";
import Footer from "@/components/Footer.astro";

import HomeContent from "@/components/home/HomeContent";

const metadata = {
  title: "Apex Corse",
  description:
    "Apex Corse è il team di Formula Student dell'Università di Palermo",
};
---

<Layout title={metadata.title} description={metadata.description}>
  <div id="main-content" class="">
    <MainAnimation />
    <div
      class="flex flex-col items-center gap-8 px-4 py-8 text-white sm:gap-12"
    >
      <HomeContent
        title="La nostra storia"
        description="Apex Corse è il team di Formula Student dell'Università di Palermo, fondato nel 2023 grazie all'iniziativa di un gruppo di studenti e al supporto di docenti del Dipartimento di Ingegneria. Il nostro obiettivo è diventare un punto di riferimento nel panorama motoristico universitario siciliano. Oggi il team è composto da oltre 50 studenti provenienti da corsi di laurea in Ingegneria, Economia, Design e Comunicazione, tutti uniti dalla passione comune per il motorsport."
        image={team}
        imageAlt="Team with the Rector of University of Palermo"
        client:load
      />
      <HomeContent
        title="Cos'è la Formula Student"
        description="La Formula Student è una competizione universitaria internazionale che offre agli studenti un'opportunità concreta di mettere in pratica le proprie conoscenze e acquisire esperienza pratica nel campo del motorsport. I partecipanti si cimentano nella progettazione, costruzione, validazione e promozione di un prototipo monoposto, sviluppando al contempo un business plan completo e un'analisi dettagliata dei costi, proprio come in un vero team di Formula 1."
        image={cars}
        imageAlt="Formula-SAE cars"
        direction="right"
        client:load
      />
      <HomeContent
        title="La nostra università"
        description="Fondata nel 1806, l'Università di Palermo è una delle principali istituzioni accademiche della Sicilia e si colloca al quarto posto tra le grandi università pubbliche italiane nella classifica Censis 2024/2025. L'università ospita il Museo Storico dei Motori e dei Meccanismi, il primo in Italia a ricevere il premio *Mechanical Engineering Heritage Collection* dall'American Society of Mechanical Engineers. Ogni anno, il Museo ospita anche diversi prestigiosi eventi automobilistici, tra cui la Targa Florio Classic e il Ferrari Tribute."
        image={unipa}
        imageAlt="Unipa Logo"
        client:load
      />
      <Footer />
    </div>
  </div>
</Layout>
