---
import MemberCard from "./MemberCard.astro";

interface Props {
  department: Department;
  title: string;
  members: Member[];
}

const { title, department, members } = Astro.props as Props;

const colors: Record<string, string> = {
  board: "white",
  chassis: "purple",
  aerodynamics: "cyan",
  powertrain: "red",
  electronics: "pink",
  it: "orange",
  graphics: "green",
  business: "blue",
};
const color = colors[department];
const textColor = `text-${color}`;
const lineColor = `bg-${color}`;
---

<div class="min-h-screen px-8 py-8">
  <div class="mb-8 flex items-center gap-4">
    <h2 class={`uppercase ${textColor} font-primary text-5xl`}>{title}</h2>
    {
      department === "board" ? (
        <div class="grow">
          <div class="bg-purple h-2" />
          <div class="bg-cyan h-2" />
          <div class="bg-red h-2" />
        </div>
      ) : (
        <div class={`h-6 grow ${lineColor}`} />
      )
    }
  </div>
  <div class="flex grow gap-8">
    <div class="grow"></div>
    <div class="grid-right grid grid-cols-4 gap-4">
      {members.map((member) => <MemberCard member={member} />)}
    </div>
  </div>
</div>
