---
import MemberCard from "./MemberCard.astro";

interface Props {
  department: Department;
  title: string;
  members: Member[];
}

const { title, department, members } = Astro.props as Props;

const colors: Record<string, string> = {
  board: "white",
  chassis: "purple",
  aerodynamics: "cyan",
  powertrain: "red",
  electronics: "pink",
  it: "orange",
  graphics: "green",
  business: "blue",
};
const color = colors[department];
const textColor = `text-${color}`;
const lineColor = `bg-${color}`;
---

<div class="px-8 min-h-screen py-8">
  <div class="flex items-center gap-4 mb-8">
    <h2 class={`uppercase ${textColor} font-primary text-5xl`}>{title}</h2>
    {
      department === "board" ? (
        <div class="grow">
          <div class="h-2 bg-purple" />
          <div class="h-2 bg-cyan" />
          <div class="h-2 bg-red" />
        </div>
      ) : (
        <div class={`grow h-6 ${lineColor}`} />
      )
    }
  </div>
  <div class="grow flex gap-8">
    <div class="grow"></div>
    <div class="grid grid-cols-4 gap-4 grid-right">
      {members.map((member) => <MemberCard member={member} />)}
    </div>
  </div>
</div>
