---
import { cn } from "@/lib/utils/cn";
import Linkedin from "../assets/linkedin.svg";
import Mail from "../assets/mail.svg";
import Person from "../assets/person.svg";
import type { Department, Member } from "@/types/members";

import { Image } from "astro:assets";

interface Props {
  member: Member;
  big?: boolean;
}

const styles: Record<
  Department,
  {
    backgroundColor: string;
    iconColor: string;
    borderColor: string;
  }
> = {
  board: {
    backgroundColor: "bg-white-bg",
    iconColor: "white",
    borderColor: "border-white",
  },
  advisors: {
    backgroundColor: "bg-white-bg",
    iconColor: "white",
    borderColor: "border-white",
  },
  chassis: {
    backgroundColor: "bg-purple-bg",
    iconColor: "purple",
    borderColor: "border-purple",
  },
  aerodynamics: {
    backgroundColor: "bg-cyan-bg",
    iconColor: "cyan",
    borderColor: "border-cyan",
  },
  powertrain: {
    backgroundColor: "bg-red-bg",
    iconColor: "red",
    borderColor: "border-red",
  },
  electronics: {
    backgroundColor: "bg-pink-bg",
    iconColor: "pink",
    borderColor: "border-pink",
  },
  it: {
    backgroundColor: "bg-orange-bg",
    iconColor: "orange",
    borderColor: "border-orange",
  },
  graphics: {
    backgroundColor: "bg-green-bg",
    iconColor: "green",
    borderColor: "border-green",
  },
  business: {
    backgroundColor: "bg-blue-bg",
    iconColor: "blue",
    borderColor: "border-blue",
  },
  cost: {
    backgroundColor: "bg-blue-bg",
    iconColor: "blue",
    borderColor: "border-blue",
  },
  logistics: {
    backgroundColor: "bg-yellow-bg",
    iconColor: "yellow",
    borderColor: "border-yellow",
  },
};

const { member, big } = Astro.props as Props;

const color = styles[member.department]?.iconColor;
const backgroundColor = styles[member.department]?.backgroundColor;
const borderColor = styles[member.department]?.borderColor;

let image: Promise<{ default: ImageMetadata }> | undefined;

if (member.image) {
  image = import(`../assets/members/${member.image}.png`) as Promise<{
    default: ImageMetadata;
  }>;
}
---

<!-- <div
	class={`${backgroundColor} rounded-lg ${member.leader ? `border-4 ${borderColor}` : ""} h-22 sm:h-32 md:h-40 aspect-square sm:aspect-[3/4] group relative`}
> -->
<div
  class={cn(
    backgroundColor,
    "rounded-lg",
    member.leader ? `border-4 ${borderColor}` : "",
    "h-28 aspect-square group relative",
    big && "h-36 sm:h-48 md:h-56",
  )}
>
  {
    member.image ? (
      <div class="h-full w-full">
        <Image
          alt={member.name}
          src={image!}
          class="h-full w-full object-contain"
        />
      </div>
    ) : (
      <div class="h-full w-full p-3">
        <Person class={`h-full w-full text-${color}`} />
      </div>
    )
  }
</div>
